.header {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("../eduford_img/eduford_img/banner.png");
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  background-position: center;
  position: relative;
}
.nav-links ul {
  display: flex;
}
